.result {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  background-color: #c0ccff;
  color: rgb(102, 63, 255);
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result__body {
  color: #fff;
}
